---
---
<!DOCTYPE html>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85002441-1', 'auto');
  ga('send', 'pageview');

</script>


<!-- Head -->
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Particle-Physics-Playground by mattbellis</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="keywords" content="Particle Physics, iPython examples">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body>

<!-- Navbar -->
<div class="navbar navbar-fixed-top alt" data-spy="affix" data-offset-top="1000">
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> P<sup>3</sup></a>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav">
      	{% include menu.html %}	
      </ul>
    </div>
   </div>
</div>

<!-- Title content - transparent header -->
<div class="header alt vert">
  <div class="container header-transparent">
		{% include title.html %}	
  </div>
</div>

<!-- Section 1  -->
<div id="activities" class="featurette" >
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Particle Physics Activities</h1>
				<p><a href="#howto" class="btn btn-danger btn-lg">How To Use This Website</a></p>
				<p>
				<a href="#intro" class="btn btn-warning btn-lg">Intro</a>
				<a href="#tutorial" class="btn btn-warning btn-lg">Tutorials</a>
				<a href="#activity" class="btn btn-warning btn-lg">Activities</a>
				</p>
      </div>  
    </div>
  </div>
</div>

<div id="howto" class="featurette" >
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>How To Use This Website</h2>
        <div class="col-md-8 col-md-offset-2 text-left">
				<p>This website is allows you to interact with particle physics data from the LHC and other accelerators/experiments.
                The data is accessed through zipped text files and Python tools are provided that allow for quick and easy access to those data.
                We have made available tutorials on how to interact with these data, tutorials on the data structures themselves, and tutorials on the physics needed to understand these data.</p>
                <p>You can start playing with all of this in two different ways:</p>
                <ul>
                    <li> Click on the 
                    <li> WORDS
                </ul>
      </div>  
      </div>  
    </div>
  </div>
</div>

<div id="intro" class="featurette" >
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Intro</h2>
        <hr class="space">
      </div>  
    </div>
    <div class="row">
{% for intro in site.data.intro %}
      <div class="col-sm-6 text-center">
        <div class="featurette-item">
          <a href="{{ intro.link }}"><i class="fa fa-info-circle"></i></a>
          <h4>{{ intro.title }}</h4>
          <p>{{ intro.description }}</p>
        </div>
      </div>
{% endfor %}    
    </div> <!-- End row -->
  </div>
</div>

<div id="tutorial" class="featurette" >
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Tutorials</h2>
        <hr class="space">
      </div>  
    </div>
    <div class="row">
{% for tutorials in site.data.tutorials %}
      <div class="col-sm-4 text-center">
        <div class="featurette-item">
          <a href="{{ tutorials.link }}"><i class="fa fa-question-circle"></i></a>
          <h4>{{ tutorials.title }}</h4>
          <p>{{ tutorials.description }}</p>
        </div>
      </div>
{% endfor %}    
    </div> <!-- End row -->
  </div>
</div>

<div id="activity" class="featurette" >
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Activities</h2>
        <hr class="space">
      </div>  
    </div>
    <div class="row">
{% for activities in site.data.activities %}
      <div class="col-sm-3 text-center">
        <div class="featurette-item">
          <a href="{{ activities.link }}"><i class="fa fa-cog"></i></a>
          <h4>{{ activities.title }}</h4>
          <p>{{ activities.description }}</p>
        </div>
      </div>
{% endfor %}    
    </div> <!-- End row -->
  </div>
</div>
<hr>

<!-- Section 3  -->
{% include philosophy.html %}	

<hr>

<!-- Section 2  -->
{% include about.html %}	

<hr>

<!-- Section 4  -->
{% include contributors.html %}	

<hr>

<!-- Footer  -->
{% include footer.html %}	


<!-- Google analytics -->
{% include google_analytics.html %}


<ul class="nav pull-right scroll-down">
  <li><a href="#" title="Scroll down"><i class="fa fa-chevron-down fa-3x"></i></a></li>
</ul>
<ul class="nav pull-right scroll-top">
  <li><a href="#" title="Scroll to top"><i class="fa fa-chevron-up fa-3x"></i></a></li>
</ul>

	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/scripts.js"></script>
	</body>
</html>
