<!-- Section 1 - About - blurb -->
<div id="contributors" class="blurb">
  <div class="container">

				<h2>
					<i class="fa fa-group"></i> 
					Contributors
				</h2>

                <div class="row">
                    <div class="col-md-4">
                        <h3>Institutions</h3>
                        <a href="http://www.physics.cornell.edu/">Cornell University</a></br>
                        <a href="https://www.siena.edu/academics/schools-departments/departments/physics-and-astronomy">Siena College</a>
                    </div>

                    <div class="col-md-4">
                        <h3>Experiments</h3>
                        <a href="http://cms.web.cern.ch/">CMS</a></br>
                        <a href="http://www.lns.cornell.edu/Research/CLEO/">CLEO</a>
                    </div>

                    <div class="col-md-4">
                        <h3>Individuals</h3>
                        <a href="https://wiki.classe.cornell.edu/People/JimAlexander">Jim Alexander</a></br>
                        <a href="https://www.siena.edu/faculty-and-staff/profile/bellis">Matt Bellis</a></br>
                        <a href="https://www.siena.edu/faculty-and-staff/profile/breimer">Eric Breimer</a></br>
                        <a href="mailto:al17depo@siena.edu">Amanda Depoian</a></br>
                        <a href="mailto:ra24miku@siena.edu">Ryan Mikulec</a></br>
                        <a href="mailto:dl12moru@siena.edu">Danielle Moruzzi</a></br>
                        <a href="mailto:rp25rera@siena.edu">Ron Rera</a></br>
                        <a href="https://wiki.classe.cornell.edu/People/AndersRyd">Anders Ryd</a></br>
                        <a href="mailto:sa03spic@siena.edu">Sandy Spicer</a></br>

                    </div>

                </div>
  </div>
</div>





