<!-- Section 1 - About - blurb -->
<div id="sec4" class="blurb">
  <div class="container">

				<h2>
					<i class="fa fa-group"></i> 
					Contributors
				</h2>

                <div class="row">
                    <div class="col-md-4">
                        <h3>Institutions</h3>
                        <a href="https://www.siena.edu/academics/schools-departments/departments/physics-and-astronomy" class="btn btn-default btn-lg">Siena College</a>
                    </div>
                    <div class="col-md-4"></div>
                        <h3>Experiments</h3>
                    <div class="col-md-4"></div>
                        <h3>Individuals</h3>
                </div>
		
  </div>
</div>





